.popup-backdrop{
    position: absolute;
    width: 250px;
    height: 300px;
    right: 58px;
    /* top: 100px; */
border: 3px solid #ffffff;
background-color: #ffffff;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);   
z-index: 10; 

}

.popup-body{
    display: flex;
    flex-direction: column;
    right: 10%;
    align-items: right;
}

.popup-body ul{
    list-style: none;
    line-height: 3rem;
}

.popup-body ul a{
    text-decoration: none;
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    color: #101828;

}
.popup-body ul a img{
    position: relative;
    width: 22px;
    height: 22px;
    top: 5px;
}


@media screen and (max-width:950px) {

    .popup-backdrop{
        position: absolute;
        width: 250px;
        height: 300px;
        right: 58px;
        /* top: 100px; */
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);   
    z-index: 10; 
    
    }
    
    .popup-body{
        display: flex;
        flex-direction: column;
        right: 10%;
        align-items: right;
    } 

   
}