.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 64px 112px; */
  gap: 24px;
  
  position: absolute;
  /* width: 1440px; */
  /* height: 998px; */
  left: 0px;
  top: 0px;}





